<h1>Welcome to Ropes!</h1>
<p>Use this website to upload and share images :)</p>
<%= link_to 'Upload an image', new_image_path %>
<br/>
<h2>Image Index</h2>
<% @images.each do |image| %>
  <%= image_tag image.link, width: '400px' %>
  <% if image.tags.empty? %>
    <span>No tags</span>
  <% else %>
    <span>
      Tags:
      <% image.tags.map do |tag| %>
        <%= link_to tag.name, '/filters/' + tag.name %>
      <% end %>
    </span>
  <% end %>
  <br/>
<% end %>
