<h2>Tags</h2>
<% if @image.tags.empty? %>
  <p>None</p>
<% else %>
  <ul>
    <% @image.tags.each do |tag| %>
      <li><%= link_to tag.name, filter_path(tag: tag) %></li>
    <% end %>
  </ul>
<% end %>
<%= image_tag @image.link %>
